<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.kablambda.crawl</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/tgdavies/dev/other/greycrawler/crawl.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

<key>StartCalendarInterval</key>
    <dict>
            <key>Minute</key>
            <integer>30</integer>
            <key>Hour</key>
            <integer>22</integer>
    </dict>
</key>
  <key>RunAtLoad</key>
  <false/>

  <key>StandardErrorPath</key>
  <string>/Users/tgdavies/dev/other/greycrawler/stderr.log</string>

  <key>StandardOutPath</key>
  <string>/Users/tgdavies/dev/other/greycrawler/stdout.log</string>
</dict>
</plist>